body {
  font-family: 'Noto Serif JP', sans-serif;
  color: #2b2b2b;
}
p {
  line-height: 1.5;
}
a {
  color: #2b2b2b;
}
img {
  width: 100%;
  height: 100%;
}
section {
  padding: 80px 0 100px;
}
.container {
  width: 960px;
}
h3 {
  position: relative;
  margin-bottom: 57px;
  font-size: 36px;
  font-weight: 900;
}
h3::before {
  content: '';
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #2b2b2b;
}
h4 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 900;
}
.txt_content {
  margin-bottom: 40px;
  text-align: center;
}
.sp {
  display: none;
}

/* header */
.header {
  position: relative;
  background-image: url(images/header.png);
  background-size: cover;
  height: 620px;
  .header_top {
    position: fixed;
    width: 100%;
    padding-top: 40px;
    z-index: 10;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header_logo {
        font-size: 38px;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .header_company_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    .header_company_name {
      font-size: 120px;
    }
    .header_company_name_catch {
      &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 12px;
        height: 2px;
        margin-right: 10px;
        background: #ffffff;
      }
      &::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 12px;
        height: 2px;
        margin-left: 10px;
        background: #ffffff;
      }
    }
  }
  
}
.header_top.headerColorScroll { // js スクロールで色変更
  padding: 0;
  z-index: 100;
  .js_header_color {
    padding: 10px 0;
    background: #fff;
    border-bottom: 2px solid #dedede;
  }
  .js_logo_color {
    color: #2b2b2b !important;
  }
  .js_bar_color {
    background: #2b2b2b;
  }
}

/* main */
/* article */
/*-- concept --*/
.concept {
  position: relative;
  .img_content{
    position: relative;
    z-index: 1;
    .img_wrap {
      height: 400px;
    }
  }
  .bg_content {
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 240px;
    background: #dedede;
  }
}
/*-- work --*/
.work {
  padding-top: 100px;
  .item_container {
    justify-content: space-between;
    .col-md-6 {
      width: 45%;
    }
    .right {
      margin-top: 120px;
      .margin_none {
        margin: 0;
      }
    }
    .item_content {
      margin-bottom: 80px;
      .img_wrap {
        margin-bottom: 16px;
      }
    }
  }
}
/*-- florist --*/
.florist {
  position: relative;
  padding: 0;
  .txt_content {
    padding: 80px 0 140px;
    background: #dedede;
  }
  .container {
    .item_container {
      position: absolute;
      top: 270px;
      left: 50%;
      transform: translateX(-50%);
      width: 980px;
      margin: auto;
      justify-content: space-between;
      .col-md-4 {
        width: 30%;
      }
      .item_content {
        margin-bottom: 80px;
        .img_wrap {
          margin-bottom: 16px;
        }
      }
    }
  } 
}
/*-- shopInformation --*/
.shopInformation {
  padding-top: 300px;
  .second_container{
    .row {
      justify-content: space-between;
      .col-md-6 {
        width: 47%;
      }
      .right {
        border: dashed #dedede;
        table {
          display: block;
          padding: 32px 40px;
          tr {
            display: flex;
            margin-bottom: 12px;
            th {
              display: inline-block;
              width: 80px;
              font-weight: normal;
            }
            td {
              display: inline-block;
              padding-left: 16px;
              line-height: 1.5;
              border-left: 2px solid #dedede;
            }
          }
        }
      }
    }    
  }
}
/*-- contactUs --*/
.contactUs {
  position: relative;
  background-image: url(images/contact_us.png);
  background-size: cover;
  &::after {
    content: '';
    background-color: #fff;
    opacity: .6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .txt_content {
    position: relative;
    z-index: 1;
  }
  .btn_content {
    position: relative;
    z-index: 1;
    text-align: center;
    .btn_wrap {
      display: inline-block;
      padding: 30px 100px;
      font-size: 20px;
      background: #fff;
      border: 1px solid #dedede;
      text-decoration: none;
      svg {
        width: 25px;
        height: 25px;
      }
      span {
        display: inline-block;
        margin-left: 15px;
        vertical-align: middle;
      }
    }
  }
}
/* footer */
.footer {
  text-align: center;
  .copyright {
    display: block;
    padding: 10px;
  }
}